.element {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.flat {
    margin: 0;
    padding: 0;
}